bodyX {
    background-color: lightblue;
}

form {
  margin-leftX: auto;
  margin-rightX: auto;
  display: inline;
  text-align: center;
}

.box {
  background-color: lightblue;
  margin: auto;
  width: 50%;
  margin-leftX: auto;
  margin-rightX: auto;
  display: grid;
  text-align: center;
}

.form-control {
  background-color: yellow;
  margin-left: auto;
  margin-right: auto;
  displayX: grid;
  text-alignX: center;
}

